<!-- 10 aqui puede ir cualquier otra cosa -->

<div>

  <h1>CoderChat</h1>
  <!-- 24 vamos agregar un imput y un p, luego debemos obtener esto desde el lado de lcliente osea en index.js -->
  <input type="text" id="inputData">
  <p id="outputData"> <p>

</div>

<!-- 20.a importamos el script-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- 18 importamos el script-->
<script src="/socket.io/socket.io.js"></script>
<!-- 19.a importamos el script-->
<script src="js/index.js"></script>