<!-- 9 recordamos que aqui va la estructura basica de html , en el body iran todas las paginas que esten dentro de view -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>

    {{{body}}}

  </body>
</html>